@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Italic.ttf");
    font-style: italic;
}

:root {
    --primary-color: #f65f4a;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1em;
}

.btn {
    border: none;
    background: var(--primary-color);
    min-width: 40px;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: .9em;
    cursor: pointer;
}

/* catalog */

.catalog {
    display: flex;
}

.catalog_filter {
    width: 200px;
    background: #f4f4f4;
    border-radius: 15px;
    padding: 15px;
}

.catalog_products {
    margin-top: 30px;
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

/* end catalog */

/* filter */

.filter_title {
    margin-bottom: .7em;
    font-weight: bold;
    display: flex;
}

.filter {
    border-top: 1px solid #ccc;
}

.filter:first-child {
    border: none;
}

.filter_title {
    padding-top: 10px;
}

.filter_title::after {
    content: '';
    margin-left: auto;
    width: 20px;
    height: 20px;
    background: url("../icons/arrow.svg") no-repeat;
    transition: transform .2s;
    transform-origin: center;
}

.filter__active .filter_title:after {
    transform: rotate(180deg);
}

.filter_options {
    max-height: 0;
    transition: max-height .2s linear;
    overflow: hidden;
    margin-bottom: 10px;
}

.filter_btn {
    width: 100%;
}

/* end filter */

/* product card */

.product-card {
    width: calc(100% / 4);
    cursor: pointer;
    display: block;
}

.product-card_img {
    height: 150px;
}

.product-card img {
    height: 100%;
    object-fit: cover;
}

.product-card_body {
    padding: .5em;
}

.product-card_category {
    color: #7a7a7a;
    font-size: .7em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-card_name {
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: bold;
}

.product-card_star__active, .product-card_star__active {
    width: 15px;
    height: 15px;
    display: inline-flex;
}

.product-card_star__active {
    background: url("../icons/star-active.svg") no-repeat;
    background-size: cover;
}

.product-card_star__disabled {
    background: url("../icons/star-disabled.svg") no-repeat;
}

.product-card_price {
    margin-top: .8em;
    font-weight: bold;
}

/* end product card */

/* range input */

.noUi-handle {
    height: 18px !important;
    width: 18px !important;
    top: -6px !important;
    right: -9px !important;
    border-radius: 9px !important;
    background: var(--primary-color) !important;
    box-shadow: none !important;
    border: none !important;
}

.noUi-handle::before, .noUi-handle::after {
    display: none !important;
}

.noUi-handle .noUi-touch-area {
    height: 18px !important;
    width: 18px !important;
    top: -6px !important;
    right: -9px !important;
    border-radius: 9px !important;
}

.noUi-base {
    height: 5px !important;
    background: #ccc;
    border-radius: 5px;
}

.noUi-connect {
    background: var(--primary-color) !important;
}

.noUi-target {
    background: transparent !important;
    border: none !important;
    margin-top: 20px;
    width: calc(100% - 18px);
    margin-left: auto;
    margin-right: auto;
}

.noUi-tooltip {
    display: none !important;
}

.range_inputs {
    display: flex;
    gap: 10px;
}

.range_input {
    border: 1px #ccc solid;
    border-radius: 8px;
    padding: 2px;
    height: 30px;
    width: 50%;
    text-align: center;
}

/* end range input */

/* product */

.product_top {
    display: flex;
}

.product_slider {
    width: 50%;
}

/* end product */

/* swiper */

.gallery {
    width: 100%;
    max-width: 620px;
    margin: 40px auto;
}
.gallery-slider {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
.gallery-slider .swiper-slide {
    width: auto;
    height: 400px;
}
.gallery-slider .swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}
.gallery-thumbs {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.swiper-slide img {
    object-fit: cover;
}

.gallery-thumbs .swiper-slide {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    opacity: 0.7;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
    border: 1px solid #fff !important;
}
.gallery-thumbs .swiper-slide img {
    width: auto;
    height: 100%;
}

.gallery-thumbs .swiper-wrapper {
    transform: none !important;
}

.gallery-thumbs .swiper-slide {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px #ccc solid;
    border-radius: 5px;
    height: auto;
}

.gallery-thumbs .swiper-slide img {
    height: auto;
}

/* end swiper */

/* product */

.product_desc {
    width: 50%;
    padding-left: 20px;
}

.product_name {
    padding: 5px 0;
    font-weight: bold;
    font-size: 2em;
    border-bottom: 2px solid #f3f3f3;
}

.product_price {
    font-size: 2.5em;
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 15px;
}

.product_specs {
    margin-top: 20px;
}

.product_specs-table {
    width: 100%;
}

.product_specs-table td {
    padding: 5px 0;
}

.product_specs-table td:first-child {
    width: 25%;
    font-weight: bold;
}

.product_specs-table td:nth-child(2) {
    color: #8e8e8e;
}

.product-bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.warranty {
    display: flex;
    gap: 30px;
}

.warranty_item {
    display: flex;
    gap: 10px;
}

.warranty_img {
    width: 50px;
    display: flex;
    justify-content: center;
    height: 43px;
}

.warranty_body {
    display: flex;
    gap: 5px;
    flex-flow: column;
}

.warranty_title {
    font-weight: bold;
    font-size: .8em;
}

.warranty_desc {
    font-size: .8em;
    color: #8e8e8e;
}

.product_buy {
    display: flex;
    gap: 50px;
}

.product_quantity {
    display: flex;
    gap: 30px;
    align-items: center;
}

.product_quantity-minus, .product_quantity-plus {
    cursor: pointer;
    font-size: 2em;
    color: #8e8e8e;
    border-radius: 50%;
    background: #fff;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.product_quantity-minus img, .product_quantity-plus img {
    width: 20px;
}

.product_quantity-minus:hover, .product_quantity-plus:hover {
    cursor: pointer;
    font-size: 2em;
    background: #e3e3e3;
}

.product_quantity-output {
    font-weight: bold;
    font-size: 2em;
}

.tabs {
    margin-top: 70px;
}

.tab_content__tables {
    display: flex;
    gap: 20px;
}

.tab_content {
    display: none;
}

.tabs_head {
    display: flex;
    gap: 20px;
}

.tab {
    font-weight: bold;
    color: #8e8e8e;
    padding-bottom: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .1s;
}

.tab__active {
    color: #000;
    border-bottom: 3px solid var(--primary-color);
}

.breadcrumbs {
    margin: 40px 0 10px 0;
    color: #8e8e8e;
    font-weight: bold;
    font-size: 0.8em;
    display: flex;
    gap: 10px;
}

.breadcrumbs a {
    display: flex;
}

.breadcrumbs a::after {
    content: '|';
    margin-left: 10px;
}

.breadcrumbs_current {
    color: #000;
}

/* end product */

.header {
    background: var(--primary-color);
}

.header_container {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header_title {
    width: 30px;
    position: relative;
}

.header_title img {
    height: 100%;
}

.header_item {
    display: flex;
    gap: 5px;
}

.header_item-body {
    display: flex;
    flex-flow: column;
}

.header_item-text {
    font-weight: bold;
}

.form {
    display: flex;
    flex-flow: column;
}

.form_title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.form_body {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.form_body label {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.form input {
    border: 1px #ccc solid;
    border-radius: 8px;
    padding: 2px;
    height: 30px;
}

.user_cart_count {
    position: absolute;
    bottom: 0; left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    font-size: .7em;
}

.cart_title {
    font-weight: bold;
    font-size: 1.5em;
}

.cart_head {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.message {
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
